[submodule "ada-2021-project-sv4ever"]
	path = ada-2021-project-sv4ever
	url = https://github.com/epfl-ada/ada-2021-project-sv4ever
[submodule "ada-2020-project-milestone-p3-p3_cgq"]
	path = ada-2020-project-milestone-p3-p3_cgq
	url = https://github.com/epfl-ada/ada-2020-project-milestone-p3-p3_cgq
[submodule "CS-433"]
	path = CS-433
	url = https://github.com/clementchaffard/CS-433
[submodule "Predicting_civil_war_onset"]
	path = ada-2020-project-milestone-p3-p3_cgq
	url = https://github.com/epfl-ada/ada-2020-project-milestone-p3-p3_cgq
[submodule "Gender_classification_using_speech_recognition/ada-2021-project-sv4ever"]
	path = Gender_classification_using_speech_recognition/ada-2021-project-sv4ever
	url = https://github.com/epfl-ada/ada-2021-project-sv4ever
[submodule "Handwritten_digit_classification_NN/CS-433"]
	path = Handwritten_digit_classification_NN/CS-433
	url = https://github.com/clementchaffard/CS-433
